 {% extends "base.html" %} {% block content %}


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Thauana Alice Tavares Teoro</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#at_a_glance">At a glance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#work_leisure">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#work_leisure">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Hi! My name is Thauana Teoro</h1>
      <hr>
      <p>text to be entered here</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Let's see more</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">I've got what you need!</h2>
        <hr class="light">
        <p class="text-faded">Smart, energetic and competent. 3 simple but very important traits of character that will be put to good use in your
          team</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#at_a_glance">What about your experience in Marketing?</a>
      </div>
    </div>
  </div>
</section>

<section id="at_a_glance">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
          <h3>4+ years of work experience</h3>
          <p class="text-muted">Ample experience acquired in the field of Marketing</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-university text-primary sr-icons"></i>
          <h3>Master's Degree</h3>
          <p class="text-muted">Solid education in Marketing & Communication from one of the top schools in Brazil</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-language text-primary sr-icons"></i>
          <h3>Trilingual</h3>
          <p class="text-muted">Fluent in English, French and Portuguese</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Passion for Marketing</h3>
          <p class="text-muted">I'm in this field by choice and I love what I'm doing</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="work_leisure">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Interested to find out more?</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-6 col-sm-6">
        <a class="portfolio-box" href="{{ url_for('resume') }}">
          <img class="img-fluid" src="../static/img/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Resume
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-sm-6">
        <a class="portfolio-box" href="{{ url_for('leisure') }}">
          <img class="img-fluid" src="../static/img/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Hobbies
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>There's more to talk about. Give me a call or send me an email, I would be delighted to chat more.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>0768-944-870</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:thauteoro@gmail.com">thauteoro@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}