<!-- The resume page is fed by data passed by views.py controller.
Data is in a dictionary format, such as ex. { "job1" : {"name":"job_title1", "start_date":"01/01/2017"}, "job2": ...}

Data passed:
jobs
education 
languages
competences
competences_categories: dictionary with unique types and categories of competences. ex: {"technical":["office","editing"],"functional":[]} -->

{% extends "base.html" %} {% block content %}

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">Thauana Alice Tavares Teoro</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">
                            << Back to main menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h2 class="section-heading text-white">What makes me happy?</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the
                        templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings
                        attached!
                    </p>
                    <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="running">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
                        <h2 class="section-heading">I run</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0" id="running">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section id="climbing">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
                        <h2 class="section-heading">I climb mountains</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0" id="climbing">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section id="yoga">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
                        <h2 class="section-heading">I do Yoga</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0" id="yoga">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="../static/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="../static/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>



    {% endblock %}