 {% extends "base.html" %} {% block content %}

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Thauana Alice Tavares Teoro</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#work_experience">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#competences">Competences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">We've got what you need!</h2>
          <hr class="light">
          <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates
            and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
          <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="work_experience">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
            <h2 class="section-heading">Work Experience</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <ul class="timeline">
          {% set li_class = ['', 'class=timeline-inverted'] %} {% for key, value in jobs.items() %}
          <li {{ li_class | random }}>
            <div class="timeline-badge info">
              <i class="glyphicon glyphicon-floppy-disk"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title"> {{ value["job_title"] }} </h4>
              </div>

              <div class="timeline-body">
                <p>
                  <i class="fa fa-calendar"></i>
                  {{ value["job_start"] }} - {{ value["job_end"] }}
                </p>
                <p>
                  <i class="fa fa-building"></i>
                  {{ value["job_company"] }}
                </p>
                <p>
                  <i class="fa fa-map-marker"></i>
                  {{ value["job_location"] }}
                </p>
                <p> {{ value["job_description"]["presentation"] }} </p>
                <p> {% for i in value["job_description"]["responsabilities"] %}
                  <ul>
                    <li> {{ i }}</li>
                  </ul>
                  {% endfor %}
                </p>
                <hr>
                <span class="caret"></span>
                <p>
                  <a href="{{ value['job_link'] }}">{{ value['job_link'] }}</a>
                </p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section id="education">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Education</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-university text-primary sr-icons"></i>
            <h3>Sturdy Templates</h3>
            <p class="text-muted">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
            <h3>Ready to Ship</h3>
            <p class="text-muted">You can use this theme as is, or you can make changes!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="competences">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Competences</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3>Sturdy Templates</h3>
            <p class="text-muted">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
            <h3>Ready to Ship</h3>
            <p class="text-muted">You can use this theme as is, or you can make changes!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
            <h3>Up to Date</h3>
            <p class="text-muted">We update dependencies to keep things fresh.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
            <h3>Made with Love</h3>
            <p class="text-muted">You have to make your websites with love these days!</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  {% endblock %}